NEXT_PUBLIC_BACKEND_URL=https://roleforge-api-224015900616.us-central1.run.app
NEXT_PUBLIC_SITE_URL=https://roleforgeai.vercel.app
NEXT_PUBLIC_SUPABASE_URL=https://ijdspodwpkuhwszmvqip.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
